    <div class="card hoverable post bg-light">
        <div class="row">
            <div class="col">
                <h5 id="topic">
                    <a> {{ topic }} </a>
                </h5>
                <h2 id="title">
                    {{ title }}
                </h2>
                <p id="comment">
                    {{ description }}
                </p>
                <h5 id="userID">
                 <p>Posted By: {{user.name}}</p>
                </h5>
            </div>
        </div>
    </div>

