  <div class="col container">
    <form class="col form-group commentForm">
      <div class="form-group">
        <label for="comment"> Add comment,</label>
        <input type="text" class="form-control" id="comment" placeholder="add comment">
      </div>
      <button type="submit" class="btn bg-dark text-white submit">submit</button>
    </form>
  </div>
  <script src="/js/add-comment.js"></script>
