    <div class="card hoverable bg-dark text-white" id="commentPost">
        <div class="row">
            <div class="col">
                <p id="postId">
                {{ post_id }}
                </p>
                <h5 id="response">
                    <a> {{ response }} </a>
                </h5>
                <p id="userID">
                    User: {{ user.username }}
                </p>
                <p id="dateCreated">
                {{ date_created }}
                </p>
                
            </div>
        </div>
    </div>