    <div class="card hoverable" id="comments">
    {{#each this}}
        <div class="row">
            <div class="col">
                <p id="postId">
                    {{ post_id }}
                </p>
                <h5 id="response">
                     {{ comment.response }}
                </h5>
                <p id="userID">
                    User: {{ user.username }}
                </p>
                <p id="dateCreated">
                {{ comment.date_created }}
                </p>
                
            </div>
        </div>
    {{/each}}

    </div>