<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Tech Blog</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <header class="display-flex justify-space-between align-center p-2">
        {{> nav }}
        </header>
        
        {{{ body }}}

    <script src="/public/js"></script>

    </body>


</html>