 <div class="container" id="discussionContainer">
    <h2 id="discussionTitle"> Create Discussion: </h2>
    <form class="col s12" id="blogForm">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="discussion title">
        </div>
        <div class="form-group">
            <label for="topic">Topic</label>
            <select class="form-control" id="topic">
            <option disabled selected> topics </option>
            <option>HTML</option>
            <option>Javascript</option>
            <option>React</option>
            <option>CSS</option>
            <option>Express</option>
            <option>Node</option>
            <option>Java</option>
            <option>Python</option>
            <option>C++</option>
            <option>SQL</option>
            <option>Ruby</option>
            <option>R</option>

            </select>
        </div>
        <div class="form-group">
            <label for="description"> Description </label>
            <textarea class="form-control" id="description" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-lg bg-dark text-white submit">create</button>
    </form>
    <script src="/js/add-blog-post.js"></script> 
</div>
