<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to the tech blog!</h1>
    <p class="lead">A forum where anyone with a tech related question can ask the community
        and begin a local discussion.
    </p>
  </div>
</div>
<div class="container">
    {{#each blogPosts as |blogPost| }}
    {{> blog_post}}
    {{/each}}
</div>