<div>
    <h2>
        Welcome to the tech blog!
    </h2>
    <h4>
        A forum where anyone with a tech related question can ask the community
        and begin a local discussion.
    </h4>
</div>
<div class="container">
    {{#each blogPosts as |blogPost| }}
    {{> post}}
    {{/each}}
</div>