<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog</title>
        <link rel="stylesheet" href="">
    </head>

    <body>
        <header class="display-flex justify-space-between align-center p-2">
            <h1>
                Blog
            </h1>

        </header>
        {{>navbar}}
        {{{ body }}}

    <script src=""></script>

    </body>


</html>