
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/* sourced code: https://codepen.io/alvic/pen/eVWMYj */

/* navbar */
.navbar {
  padding-top: 25px;
  background-color: #c2caeb;

}

.navbar-brand {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #f4f4f4;
  padding-left: 2%;
}

.nav-item {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  min-width: 88px;
  padding-left:15px;
  padding-right:15px;
  line-height: 36px;
  border-radius: 2px;
  text-align: center;
}

/* post */

.post{
  border: 2px solid darkgrey;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 3%;
  margin-top: 3%;

  padding: 3%;
  border-radius: 10px;
  /* box-shadow: ; */
}
#topic{
  color: rgb(136, 131, 131);
  /* font-size: ; */
  font-weight: 600;

}
#title{
  color: rgb(49, 47, 47);
    /* font-size: ; */
  font-weight: 400;

}
#comment{
  color: black;
    /* font-size: ; */
  font-weight: 500;

}
#userID{
  color: rgb(49, 47, 47);
    /* font-size: ; */
  font-weight: 600;

}

/* login / signup */

.card {
  margin: 2%;
  padding: 2%;
}

/* comment */
.commentForm{
  padding: 2%;
  border: 2px solid darkgrey;
  border-radius: 10px;
  
}
label{
  font-size: 20px;;
}

/* discussion */
#discussionTitle{
  color:rgb(49, 47, 47);
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 40px;
  font-weight: 600;

  padding-bottom: 3%;
}

#discussionContainer{
  border: 2px solid darkgrey;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 3%;
  margin-top: 3%;

  padding: 5%;
  border-radius: 10px;
}